<% if signed_in? %>
	<div id="new_gram_link">
		<%= link_to 'New Gram', new_gram_path %>
	</div>
	<br>
<% end %>

<% Gram.all.each do |g| %>
	<div class="card col-10 offset-1">
		<div class="handle"><%= g.user.email %></div>

		<%= image_tag g.picture.url if g.picture.present? %>

		<h3><%= g.message %></h3>

		<div class="gram-actions float-right">
			<% if signed_in? && current_user == g.user %>
				<%= link_to 'Edit', edit_gram_path(g) %>
			<% end %>
		</div>
		<br class="clear-fix" />

		<div class="comments">
			<h3>Comments</h3>

			<% g.comments.each do |c| %>
				<div class="comment">
					<span class="comment_handle">
						<%= c.user.email %>
					</span>

					<%= c.message %>
				</div>
			<% end %>

			<h4>Add Comments</h4>
			
			<%= simple_form_for Comment.new, url:gram_comments_path(g) do |f| %>
				<%= f.input :message %>
				<%= f.submit 'Add Comment', class: 'my-btn' %>
			<% end %>
		</div>
	</div>
<% end %>

