<% Gram.all.each do |g| %>
	<div class="card col-10 offset-1">
		<div class="handle"><%= g.user.email %></div>

		
		<% if g.picture.present? %>
			<div>
				<%= image_tag g.picture.thumb.url, class: "gram_thumb img-fluid" %>
			</div>
		<% end %>

		<h3><%= g.message %></h3>

		<div class="gram-actions float-right">
			<% if signed_in? && current_user == g.user %>
				<%= link_to 'Edit', edit_gram_path(g) %>
				<%= link_to 'Delete', gram_path(g), method: :delete, data: {confirm: 'Are you sure you want to delete this?'} %>
			<% end %>
		</div>
		<br class="clear-fix" />

		<hr>

		<div class="comments">
			<h3>Comments</h3>

			<% g.comments.each do |c| %>
				<div class="comment">
					<%= c.message %>
					<br> -
					<span class="comment_handle">
						<%= c.user.email %>
					</span>
				</div>
			<% end %>

			<% if signed_in? %>
				<hr>
				<%= simple_form_for Comment.new, url:gram_comments_path(g) do |f| %>
					<%= f.input :message, placeholder: 'Add a new comment', label: false %>
					<%= f.submit 'Add Comment',  class: 'my-btn' %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>

&nbsp;